<p>
  page1 works!
</p>
<div class="container-fluid">
<h1> tabel of task </h1>
 <table border="0">
   <tr>
     <td>Id:</td>
     <td><input type="text" name="id"></td>
   </tr>
   <tr>
    <td>Title:</td>
    <td><input type="text" name="title"></td>
  </tr>
  <tr>
    <td>Assigned to:</td>
    <td><input type="text" name="assignedto"></td>
  </tr>
  <tr>
    <td>Priority:</td>
    <td><input type="text" name="pri"></td>
  </tr>
  <tr>
    <td>Id:</td>
    <td><button routerLink="/page2">  save </button>></td>
  </tr>
 </table>
</div>
<section>
  <router-outlet></router-outlet>
</section>